*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

.cardHighlight{
  min-height: 100%
}

.CourseCard{
  min-height: 100%
}

.CourseCardTitle{
  font-weight: bold;
}

.CourseCardDescription{
  font-weight: bold;
}